<nav>
    <ul>
      <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
      <li><a routerLink="/properties" routerLinkActive="active">Propiedades</a></li>
      <li><a routerLink="/reservations" routerLinkActive="active">Reservaciones</a></li>
      <li><a routerLink="/account/profile" routerLinkActive="active">Mi Cuenta</a></li>
      <li><a routerLink="/support" routerLinkActive="active">Soporte</a></li>
      <li><a routerLink="/payments" routerLinkActive="active">Pagos</a></li>
      <li><a routerLink="/account/login" routerLinkActive="active">Iniciar Sesión</a></li>
      <li><a routerLink="/account/register" routerLinkActive="active">Registrarse</a></li>
    </ul>
</nav>